$bar-hover: rgb(235, 232, 226);
$bar-defaule-color: rgb(233, 112, 13);
$bar-hover-text-color : rgb(192, 11, 11);



.bar {
    fill: $bar-defaule-color;
}

.bar:hover{
    fill:$bar-hover;
}

.toolTip{
    text-decoration: underline;
}

.chart-title {
    font-size: 1.23em
}

.inner-chart-container {
    position: relative;
    top: 200px;
    height: 700;
    width: 1000;
    border-radius: 6px;
    background-color: rgb(187, 180, 180);
}