$bar-hover: rgb(255, 255, 255);
$bar-defaule-color: rgb(36, 117, 184);
$bar-hover-text-color : rgb(192, 11, 11);


body{
    background-color: rgb(16, 22, 58);
}

.bar {
    fill: $bar-defaule-color;
}

.bar:hover{ 
    fill:$bar-hover;
}

.side-title-gdp {
    font-size: 18px;
    fill: black;     
  }

.side-title-gdp:hover{
    fill:orange
}

    
.div-tool-tip{  
    opacity: .2;  
    position: relative;
    text-align: center;			
    width: 150px;					
    height: 35px;					
    padding: 20px;
    border: 2px solid white;
    font: 16px quicksand;
    color: #fff;	
    background: rgb(216, 138, 13);
    border-radius: 8px;	
    box-shadow: 0px 1px 9px 4px rgb(255, 255, 255);
}


#chart-container{
    position: relative;
    width: 900px;
    height: 600px;
    margin: auto auto;
    top: 500;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 1px 9px 4px steelblue;


}


#chart-container:hover{
    box-shadow: 0px 1px 9px 4px orange;
}

#title {
    font-size: 36px;
    color: black;
}
