$bar-hover: rgb(235, 232, 226);
$bar-defaule-color: rgb(233, 112, 13);
$bar-hover-text-color : rgb(192, 11, 11);


body{
    background-color: rgb(16, 22, 58);
}

.bar {
    fill: $bar-defaule-color;
}

.bar:hover{
    fill:$bar-hover;
}

.toolTip{
    text-decoration: underline;
}

.side-title-gdp {
    font-size: 18px;
    fill: black;     
  }

.side-title-gdp:hover{
fill:orange
}

.tool-tip {
line-height: 1;
padding: 6px;
background: rgba(0, 0, 0, 0.7);
color: #fff;
border-radius: 4px;
font-size: 12px;
}

.inner-chart-container{
position: relative;
width: 900px;
height: 600px;
margin: auto;
top: 300;
border-radius: 6px;
background-color: white;
box-shadow: 0px 1px 9px 4px steelblue;
}
.inner-chart-container:hover{
box-shadow: 0px 1px 9px 4px orange;
}